In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
import sqlite3
import mysql.connector as cnt
import plotly.express as px

In [2]:
imu = pd.read_csv('../DATA/imunizacija.csv')
imu.head(2)

,ESRI_OID,workplace_code,workplace_name,activity_evrk2,municipality,county,employees,immunised_percent,percentile_1,percentile_2,as_of_date
0,1,110004884,"Uždaroji akcinė bendrovė ""VILLON""",551000.0,Vilniaus r. sav.,Vilniaus apskr.,170,90-100%,92,94.0,2022-03-20
1,2,110005648,"UAB ""Informacinės paslaugos""",620100.0,Vilniaus m. sav.,Vilniaus apskr.,25,90-100%,69,71.0,2022-03-20

In [3]:
imu.tail(5)

,ESRI_OID,workplace_code,workplace_name,activity_evrk2,municipality,county,employees,immunised_percent,percentile_1,percentile_2,as_of_date
19823,19824,305997621,NaN,422200.0,Kauno m. sav.,Kauno apskr.,15,70-79%,23,24.0,2022-03-20
19824,19825,306019829,NaN,NaN,Klaipėdos m. sav.,Klaipėdos apskr.,10,90-100%,49,NaN,2022-03-20
19825,19826,306025216,NaN,NaN,Vilniaus m. sav.,Vilniaus apskr.,175,80-89%,32,NaN,2022-03-20
19826,19827,306027128,NaN,NaN,Vilniaus m. sav.,Vilniaus apskr.,10,90-100%,44,NaN,2022-03-20
19827,19828,306027224,NaN,NaN,Vilniaus m. sav.,Vilniaus apskr.,10,90-100%,100,NaN,2022-03-20

In [8]:
imu.dropna(subset=['activity_evrk2', 'workplace_name' ], how='all', inplace=True)

In [9]:
imu.tail(5)

,ESRI_OID,workplace_code,workplace_name,activity_evrk2,municipality,county,employees,immunised_percent,percentile_1,percentile_2,as_of_date
19819,19820,305972116,NaN,161000.0,Kauno r. sav.,Kauno apskr.,80,90-100%,58,60.0,2022-03-20
19820,19821,305973296,NaN,464200.0,Klaipėdos r. sav.,Klaipėdos apskr.,10,90-100%,100,100.0,2022-03-20
19821,19822,305981108,NaN,475200.0,Vilniaus r. sav.,Vilniaus apskr.,10,80-89%,32,33.0,2022-03-20
19822,19823,305987794,NaN,711220.0,Klaipėdos m. sav.,Klaipėdos apskr.,15,90-100%,100,100.0,2022-03-20
19823,19824,305997621,NaN,422200.0,Kauno m. sav.,Kauno apskr.,15,70-79%,23,24.0,2022-03-20

In [10]:
imu = pd.read_csv('../DATA/imunizacija.csv')
imu.head(2)

,ESRI_OID,workplace_code,workplace_name,activity_evrk2,municipality,county,employees,immunised_percent,percentile_1,percentile_2,as_of_date
0,1,110004884,"Uždaroji akcinė bendrovė ""VILLON""",551000.0,Vilniaus r. sav.,Vilniaus apskr.,170,90-100%,92,94.0,2022-03-20
1,2,110005648,"UAB ""Informacinės paslaugos""",620100.0,Vilniaus m. sav.,Vilniaus apskr.,25,90-100%,69,71.0,2022-03-20

In [15]:
imu.head(6)

,ESRI_OID,workplace_code,workplace_name,activity_evrk2,municipality,county,employees,immunised_percent,percentile_1,percentile_2,as_of_date
0,1,110004884,"Uždaroji akcinė bendrovė ""VILLON""",551000.0,Vilniaus r. sav.,Vilniaus apskr.,170,90-100%,92,94.0,2022-03-20
1,2,110005648,"UAB ""Informacinės paslaugos""",620100.0,Vilniaus m. sav.,Vilniaus apskr.,25,90-100%,69,71.0,2022-03-20
2,3,110011925,"UAB ""Eltel Networks""",422200.0,Vilniaus m. sav.,Vilniaus apskr.,230,90-100%,65,67.0,2022-03-20
3,4,110012112,UAB IDW,329900.0,Vilniaus m. sav.,Vilniaus apskr.,175,90-100%,45,47.0,2022-03-20
4,5,110012450,"AB ""Grigeo""",172200.0,Vilniaus m. sav.,Vilniaus apskr.,270,90-100%,89,91.0,2022-03-20
5,6,110015560,"Uždaroji akcinė bendrovė ""INTA""",639900.0,Vilniaus m. sav.,Vilniaus apskr.,10,90-100%,100,100.0,2022-03-20

In [18]:
imu.loc[[1,2,3,4], ['workplace_code', 'workplace_name',	'activity_evrk2','municipality','county']]

,workplace_code,workplace_name,activity_evrk2,municipality,county
1,110005648,"UAB ""Informacinės paslaugos""",620100.0,Vilniaus m. sav.,Vilniaus apskr.
2,110011925,"UAB ""Eltel Networks""",422200.0,Vilniaus m. sav.,Vilniaus apskr.
3,110012112,UAB IDW,329900.0,Vilniaus m. sav.,Vilniaus apskr.
4,110012450,"AB ""Grigeo""",172200.0,Vilniaus m. sav.,Vilniaus apskr.

In [19]:
imu.loc[1, 'workplace_name']

'UAB "Informacinės paslaugos"'

In [20]:
imu.head(5)

,ESRI_OID,workplace_code,workplace_name,activity_evrk2,municipality,county,employees,immunised_percent,percentile_1,percentile_2,as_of_date
0,1,110004884,"Uždaroji akcinė bendrovė ""VILLON""",551000.0,Vilniaus r. sav.,Vilniaus apskr.,170,90-100%,92,94.0,2022-03-20
1,2,110005648,"UAB ""Informacinės paslaugos""",620100.0,Vilniaus m. sav.,Vilniaus apskr.,25,90-100%,69,71.0,2022-03-20
2,3,110011925,"UAB ""Eltel Networks""",422200.0,Vilniaus m. sav.,Vilniaus apskr.,230,90-100%,65,67.0,2022-03-20
3,4,110012112,UAB IDW,329900.0,Vilniaus m. sav.,Vilniaus apskr.,175,90-100%,45,47.0,2022-03-20
4,5,110012450,"AB ""Grigeo""",172200.0,Vilniaus m. sav.,Vilniaus apskr.,270,90-100%,89,91.0,2022-03-20

In [21]:
imu.loc[1, 'workplace_name'] = "UAB Trys blynai"
imu.head()

,ESRI_OID,workplace_code,workplace_name,activity_evrk2,municipality,county,employees,immunised_percent,percentile_1,percentile_2,as_of_date
0,1,110004884,"Uždaroji akcinė bendrovė ""VILLON""",551000.0,Vilniaus r. sav.,Vilniaus apskr.,170,90-100%,92,94.0,2022-03-20
1,2,110005648,UAB Trys blynai,620100.0,Vilniaus m. sav.,Vilniaus apskr.,25,90-100%,69,71.0,2022-03-20
2,3,110011925,"UAB ""Eltel Networks""",422200.0,Vilniaus m. sav.,Vilniaus apskr.,230,90-100%,65,67.0,2022-03-20
3,4,110012112,UAB IDW,329900.0,Vilniaus m. sav.,Vilniaus apskr.,175,90-100%,45,47.0,2022-03-20
4,5,110012450,"AB ""Grigeo""",172200.0,Vilniaus m. sav.,Vilniaus apskr.,270,90-100%,89,91.0,2022-03-20

In [22]:
imu.loc[[1,2,3,4], ['workplace_code', 'workplace_name',	'activity_evrk2','municipality','county']] = "Sugadinau duomenis kątik"
imu.head(10)

,ESRI_OID,workplace_code,workplace_name,activity_evrk2,municipality,county,employees,immunised_percent,percentile_1,percentile_2,as_of_date
0,1,110004884,"Uždaroji akcinė bendrovė ""VILLON""",551000.0,Vilniaus r. sav.,Vilniaus apskr.,170,90-100%,92,94.0,2022-03-20
1,2,Sugadinau duomenis kątik,Sugadinau duomenis kątik,Sugadinau duomenis kątik,Sugadinau duomenis kątik,Sugadinau duomenis kątik,25,90-100%,69,71.0,2022-03-20
2,3,Sugadinau duomenis kątik,Sugadinau duomenis kątik,Sugadinau duomenis kątik,Sugadinau duomenis kątik,Sugadinau duomenis kątik,230,90-100%,65,67.0,2022-03-20
3,4,Sugadinau duomenis kątik,Sugadinau duomenis kątik,Sugadinau duomenis kątik,Sugadinau duomenis kątik,Sugadinau duomenis kątik,175,90-100%,45,47.0,2022-03-20
4,5,Sugadinau duomenis kątik,Sugadinau duomenis kątik,Sugadinau duomenis kątik,Sugadinau duomenis kątik,Sugadinau duomenis kątik,270,90-100%,89,91.0,2022-03-20
5,6,110015560,"Uždaroji akcinė bendrovė ""INTA""",639900.0,Vilniaus m. sav.,Vilniaus apskr.,10,90-100%,100,100.0,2022-03-20
6,7,110018147,"UAB ""RASO""",466900.0,Vilniaus m. sav.,Vilniaus apskr.,30,90-100%,100,100.0,2022-03-20
7,8,110019434,"UŽDAROJI AKCINĖ BENDROVĖ ""TRANSLITAS""",494100.0,Šiaulių m. sav.,Šiaulių apskr.,10,90-100%,40,42.0,2022-03-20
8,9,110022220,"UAB ""KOMEX""",222200.0,Panevėžio m. sav.,Panevėžio apskr.,75,90-100%,91,93.0,2022-03-20
9,10,110027534,"UAB ""Transfriga""",494100.0,Elektrėnų sav.,Vilniaus apskr.,60,40-49%,7,8.0,2022-03-20

In [24]:
imu.iloc[[1,2],[1,2,3,4]]

,workplace_code,workplace_name,activity_evrk2,municipality
1,Sugadinau duomenis kątik,Sugadinau duomenis kątik,Sugadinau duomenis kątik,Sugadinau duomenis kątik
2,Sugadinau duomenis kątik,Sugadinau duomenis kątik,Sugadinau duomenis kątik,Sugadinau duomenis kątik

In [27]:
df = imu.iloc[[*range(10,21,2)], [1,2,3,4,5]]

In [31]:
df

,workplace_code,workplace_name,activity_evrk2,county
10,110032524,"Uždaroji akcinė bendrovė ""SEIFUVA""",259900.0,Utenos apskr.
12,110051115,Bendra Lietuvos-Rusijos-Olandijos įmonė uždaro...,581100.0,Vilniaus apskr.
14,110051834,"Akcinė bendrovė ""Lietuvos draudimas""",651200.0,Vilniaus apskr.
16,110053842,"Akcinė bendrovė ""Lietuvos geležinkeliai""",492000.0,Vilniaus apskr.
18,110057335,Viešoji įstaiga Lietuvos žemės ūkio konsultavi...,749000.0,Kauno apskr.
20,110058241,Lietuvos pramonininkų konfederacija,941100.0,Vilniaus apskr.

In [34]:
df.drop('county', axis=1)

,workplace_code,workplace_name,activity_evrk2
10,110032524,"Uždaroji akcinė bendrovė ""SEIFUVA""",259900.0
12,110051115,Bendra Lietuvos-Rusijos-Olandijos įmonė uždaro...,581100.0
14,110051834,"Akcinė bendrovė ""Lietuvos draudimas""",651200.0
16,110053842,"Akcinė bendrovė ""Lietuvos geležinkeliai""",492000.0
18,110057335,Viešoji įstaiga Lietuvos žemės ūkio konsultavi...,749000.0
20,110058241,Lietuvos pramonininkų konfederacija,941100.0

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
import sqlite3
import mysql.connector as cnt
import plotly.express as px

In [2]:
f = pd.read_csv('../DATA/OOP_DATA/V1145_A_3k_FW_2.05.dat', usecols=[0,1])

ValueError: Usecols do not match columns, columns expected but not found: [0, 1]