In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
import sqlite3
import mysql.connector as cnt
import plotly.express as px

In [2]:
imu = pd.read_csv('../../DATA/imunizacija.csv')
imu.head(2)

,ESRI_OID,workplace_code,workplace_name,activity_evrk2,municipality,county,employees,immunised_percent,percentile_1,percentile_2,as_of_date
0,1,110004884,"Uždaroji akcinė bendrovė ""VILLON""",551000.0,Vilniaus r. sav.,Vilniaus apskr.,170,90-100%,92,94.0,2022-03-20
1,2,110005648,"UAB ""Informacinės paslaugos""",620100.0,Vilniaus m. sav.,Vilniaus apskr.,25,90-100%,69,71.0,2022-03-20

In [3]:
imu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19828 entries, 0 to 19827
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ESRI_OID           19828 non-null  int64
 1   workplace_code     19828 non-null  int64
 2   workplace_name     19760 non-null  object
 3   activity_evrk2     19810 non-null  float64
 4   municipality       19828 non-null  object
 5   county             19828 non-null  object
 6   employees          19828 non-null  int64
 7   immunised_percent  19828 non-null  object
 8   percentile_1       19828 non-null  int64
 9   percentile_2       18938 non-null  float64
 10  as_of_date         19828 non-null  object
dtypes: float64(2), int64(4), object(5)
memory usage: 1.7+ MB

In [4]:
imu.tail()

,ESRI_OID,workplace_code,workplace_name,activity_evrk2,municipality,county,employees,immunised_percent,percentile_1,percentile_2,as_of_date
19823,19824,305997621,NaN,422200.0,Kauno m. sav.,Kauno apskr.,15,70-79%,23,24.0,2022-03-20
19824,19825,306019829,NaN,NaN,Klaipėdos m. sav.,Klaipėdos apskr.,10,90-100%,49,NaN,2022-03-20
19825,19826,306025216,NaN,NaN,Vilniaus m. sav.,Vilniaus apskr.,175,80-89%,32,NaN,2022-03-20
19826,19827,306027128,NaN,NaN,Vilniaus m. sav.,Vilniaus apskr.,10,90-100%,44,NaN,2022-03-20
19827,19828,306027224,NaN,NaN,Vilniaus m. sav.,Vilniaus apskr.,10,90-100%,100,NaN,2022-03-20

In [11]:
imu.dropna(subset=['activity_evrk2', 'workplace_name'], how='all', inplace=True)

In [12]:
imu.tail()

,ESRI_OID,workplace_code,workplace_name,activity_evrk2,municipality,county,employees,immunised_percent,percentile_1,percentile_2,as_of_date
19819,19820,305972116,NaN,161000.0,Kauno r. sav.,Kauno apskr.,80,90-100%,58,60.0,2022-03-20
19820,19821,305973296,NaN,464200.0,Klaipėdos r. sav.,Klaipėdos apskr.,10,90-100%,100,100.0,2022-03-20
19821,19822,305981108,NaN,475200.0,Vilniaus r. sav.,Vilniaus apskr.,10,80-89%,32,33.0,2022-03-20
19822,19823,305987794,NaN,711220.0,Klaipėdos m. sav.,Klaipėdos apskr.,15,90-100%,100,100.0,2022-03-20
19823,19824,305997621,NaN,422200.0,Kauno m. sav.,Kauno apskr.,15,70-79%,23,24.0,2022-03-20

In [13]:
imu = pd.read_csv('../../DATA/imunizacija.csv')
imu.head(2)

,ESRI_OID,workplace_code,workplace_name,activity_evrk2,municipality,county,employees,immunised_percent,percentile_1,percentile_2,as_of_date
0,1,110004884,"Uždaroji akcinė bendrovė ""VILLON""",551000.0,Vilniaus r. sav.,Vilniaus apskr.,170,90-100%,92,94.0,2022-03-20
1,2,110005648,"UAB ""Informacinės paslaugos""",620100.0,Vilniaus m. sav.,Vilniaus apskr.,25,90-100%,69,71.0,2022-03-20

In [19]:
imu['workplace_name'] = imu['workplace_name'].fillna('Nenurodyta')
imu.head(6)

,ESRI_OID,workplace_code,workplace_name,activity_evrk2,municipality,county,employees,immunised_percent,percentile_1,percentile_2,as_of_date
0,1,110004884,"Uždaroji akcinė bendrovė ""VILLON""",551000.0,Vilniaus r. sav.,Vilniaus apskr.,170,90-100%,92,94.0,2022-03-20
1,2,110005648,"UAB ""Informacinės paslaugos""",620100.0,Vilniaus m. sav.,Vilniaus apskr.,25,90-100%,69,71.0,2022-03-20
2,3,110011925,"UAB ""Eltel Networks""",422200.0,Vilniaus m. sav.,Vilniaus apskr.,230,90-100%,65,67.0,2022-03-20
3,4,110012112,UAB IDW,329900.0,Vilniaus m. sav.,Vilniaus apskr.,175,90-100%,45,47.0,2022-03-20
4,5,110012450,"AB ""Grigeo""",172200.0,Vilniaus m. sav.,Vilniaus apskr.,270,90-100%,89,91.0,2022-03-20
5,6,110015560,"Uždaroji akcinė bendrovė ""INTA""",639900.0,Vilniaus m. sav.,Vilniaus apskr.,10,90-100%,100,100.0,2022-03-20

In [18]:
imu.loc[1]

ESRI_OID                                        2
workplace_code                          110005648
workplace_name       UAB "Informacinės paslaugos"
activity_evrk2                           620100.0
municipality                     Vilniaus m. sav.
county                            Vilniaus apskr.
employees                                      25
immunised_percent                         90-100%
percentile_1                                   69
percentile_2                                 71.0
as_of_date                             2022-03-20
Name: 1, dtype: object