In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
import sqlite3
import mysql.connector as cnt
import plotly.express as px

In [3]:
from manofunkcijos import *

In [4]:
#prisijungimas prie mySQL, ir kursoriaus sukūrimas
DB = cnt.connect(
host = '88.223.121.130',
user='user',
password='slaptazodis',
port=3306,
database='works'
)
C=DB.cursor()

In [ ]:
pd.merge() #sujungia du dataframe

In [124]:
# komanda 'drop table if exists' pa6alina esan2ia toki1 lentelę ir sukuria tokią pat tuščią

In [ ]:
# glob.glob() paima failus

In [168]:
#Suraskite 2013-2023 metų eismo įvykuose daugiausiai
# kartų užfiksuotą automobilių a) gamintoją b) modelį.
# Kiekvienais metais tas gamintojas/modelis gali būti skirtingas - pateikite bar/barh grafikus.
# Kiek iš užfiksuotų automobilių turėjo Kasko draudimą?

In [6]:
iv2013 = pd.read_json('C:/Users/manta/OneDrive/Dokumentai/Python projektai/Eismo_ivykiai/ei_2013_12_31.json')[['registravimoData','dalyviuSkaicius','apgadintuTpSkaicius','zuvusiuSkaicius','suzeistuSkaicius','neblaivusKaltininkai','apsvaigeKaltininkai','schema2','eismoDalyviai','eismoTranspPreimone']]
iv2014 = pd.read_json('C:/Users/manta/OneDrive/Dokumentai/Python projektai/Eismo_ivykiai/ei_2014_12_31.json')[['registravimoData','dalyviuSkaicius','apgadintuTpSkaicius','zuvusiuSkaicius','suzeistuSkaicius','neblaivusKaltininkai','apsvaigeKaltininkai','schema2','eismoDalyviai','eismoTranspPreimone']]
iv2015 = pd.read_json('C:/Users/manta/OneDrive/Dokumentai/Python projektai/Eismo_ivykiai/ei_2015_12_31.json')[['registravimoData','dalyviuSkaicius','apgadintuTpSkaicius','zuvusiuSkaicius','suzeistuSkaicius','neblaivusKaltininkai','apsvaigeKaltininkai','schema2','eismoDalyviai','eismoTranspPreimone']]
iv2016 = pd.read_json('C:/Users/manta/OneDrive/Dokumentai/Python projektai/Eismo_ivykiai/ei_2016_12_31.json')[['registravimoData','dalyviuSkaicius','apgadintuTpSkaicius','zuvusiuSkaicius','suzeistuSkaicius','neblaivusKaltininkai','apsvaigeKaltininkai','schema2','eismoDalyviai','eismoTranspPreimone']]
iv2017 = pd.read_json('C:/Users/manta/OneDrive/Dokumentai/Python projektai/Eismo_ivykiai/ei_2017_12_31.json')[['registravimoData','dalyviuSkaicius','apgadintuTpSkaicius','zuvusiuSkaicius','suzeistuSkaicius','neblaivusKaltininkai','apsvaigeKaltininkai','schema2','eismoDalyviai','eismoTranspPreimone']]
iv2018 = pd.read_json('C:/Users/manta/OneDrive/Dokumentai/Python projektai/Eismo_ivykiai/ei_2018_12_31.json')[['registravimoData','dalyviuSkaicius','apgadintuTpSkaicius','zuvusiuSkaicius','suzeistuSkaicius','neblaivusKaltininkai','apsvaigeKaltininkai','schema2','eismoDalyviai','eismoTranspPreimone']]
iv2019 = pd.read_json('C:/Users/manta/OneDrive/Dokumentai/Python projektai/Eismo_ivykiai/ei_2019_12_31.json')[['registravimoData','dalyviuSkaicius','apgadintuTpSkaicius','zuvusiuSkaicius','suzeistuSkaicius','neblaivusKaltininkai','apsvaigeKaltininkai','schema2','eismoDalyviai','eismoTranspPreimone']]
iv2020 = pd.read_json('C:/Users/manta/OneDrive/Dokumentai/Python projektai/Eismo_ivykiai/ei_2020_12_31.json')[['registravimoData','dalyviuSkaicius','apgadintuTpSkaicius','zuvusiuSkaicius','suzeistuSkaicius','neblaivusKaltininkai','apsvaigeKaltininkai','schema2','eismoDalyviai','eismoTranspPreimone']]
iv2021 = pd.read_json('C:/Users/manta/OneDrive/Dokumentai/Python projektai/Eismo_ivykiai/ei_2021_12_31.json')[['registravimoData','dalyviuSkaicius','apgadintuTpSkaicius','zuvusiuSkaicius','suzeistuSkaicius','neblaivusKaltininkai','apsvaigeKaltininkai','schema2','eismoDalyviai','eismoTranspPreimone']]
iv2022 = pd.read_json('C:/Users/manta/OneDrive/Dokumentai/Python projektai/Eismo_ivykiai/ei_2022_12_31.json')[['registravimoData','dalyviuSkaicius','apgadintuTpSkaicius','zuvusiuSkaicius','suzeistuSkaicius','neblaivusKaltininkai','apsvaigeKaltininkai','schema2','eismoDalyviai','eismoTranspPreimone']]
iv2023 = pd.read_json('C:/Users/manta/OneDrive/Dokumentai/Python projektai/Eismo_ivykiai/ei_2023_12_31.json')[['registravimoData','dalyviuSkaicius','apgadintuTpSkaicius','zuvusiuSkaicius','suzeistuSkaicius','neblaivusKaltininkai','apsvaigeKaltininkai','schema2','eismoDalyviai','eismoTranspPreimone']]
s_of_dfs = [iv2013,iv2014,iv2015,iv2016,iv2017,iv2018,iv2019,iv2020,iv2021,iv2022,iv2023]
ivykiai = pd.concat(s_of_dfs)

In [7]:
ivykiai['dataLaikas'] = pd.to_datetime(ivykiai['registravimoData'])
ivykiai['Metai'] = ivykiai['dataLaikas'].dt.year
def tpgam(x):
    s = []
    for i in x:
        s.append(i['marke'])
    return s
def tpmod(x):
    s = []
    for i in x:
        s.append(i['modelis'])
    return s
ivykiai['Gamintojas'] = ivykiai['eismoTranspPreimone'].apply(tpgam)
ivykiai['Modelis'] = ivykiai['eismoTranspPreimone'].apply(tpmod)

In [8]:
ivykiai.head()

,registravimoData,dalyviuSkaicius,apgadintuTpSkaicius,zuvusiuSkaicius,suzeistuSkaicius,neblaivusKaltininkai,apsvaigeKaltininkai,schema2,eismoDalyviai,eismoTranspPreimone,dataLaikas,Metai,Gamintojas,Modelis
0,2013-01-01 00:02,2.0,1.0,0,0,None,None,Susidūrimas su stovinčia TP,"[{'dalyvisId': 22897970, 'kategorija': 'Automo...","[{'tpId': 19801434, 'regValstybe': 'Lietuva', ...",2013-01-01 00:02:00,2013,"[AUDI, None]","[100, None]"
1,2013-01-01 01:26,2.0,1.0,0,0,None,None,Kiti susidūrimai,"[{'dalyvisId': 22897891, 'kategorija': 'Automo...","[{'tpId': 19801407, 'regValstybe': None, 'kate...",2013-01-01 01:26:00,2013,"[None, PORSCHE]","[None, CAYENNE S]"
2,2013-01-01 02:26,1.0,1.0,0,0,None,None,Kiti susidūrimai,"[{'dalyvisId': 21794565, 'kategorija': 'Automo...","[{'tpId': 19226309, 'regValstybe': 'Lietuva', ...",2013-01-01 02:26:00,2013,[SUBARU],[FORESTER]
3,2013-01-01 03:27,2.0,1.0,0,0,None,None,Kiti susidūrimai,"[{'dalyvisId': 22897876, 'kategorija': 'Automo...","[{'tpId': 19801349, 'regValstybe': 'Lietuva', ...",2013-01-01 03:27:00,2013,[VOLKSWAGEN],[PASSAT]
4,2013-01-01 03:49,2.0,2.0,0,0,None,None,Kiti eismo įvykiai,"[{'dalyvisId': 24796989, 'kategorija': 'Automo...","[{'tpId': 21000436, 'regValstybe': 'Lietuva', ...",2013-01-01 03:49:00,2013,"[LANCIA, AUDI]","[LYBRA, A4]"

In [47]:
gamintojai = []
metai =[]
modeliai = []
for gam, met, mod in zip(ivykiai['Gamintojas'],ivykiai['Metai'],ivykiai['Modelis']):
    for g, m in zip(gam,mod):
        if g is not None:
            gamintojai.append(str(g))
            metai.append(met)
            modeliai.append(str(m))

In [64]:
autoeis0 = pd.DataFrame(gamintojai, columns=['Gamintojai'], dtype='str')
autoeis1 = pd.DataFrame(modeliai, columns=['Modeliai'], dtype='str')
autoeis2 = pd.DataFrame(metai, columns=['Metai'], dtype='int32')
dfs = [autoeis0,autoeis1,autoeis2]
auto = pd.merge_ordered(autoeis0,)

TypeError: merge_ordered() missing 1 required positional argument: 'right'

In [56]:
auto.head()

   Gamintojai Modeliai  Metai
0        AUDI      NaN    NaN
1     PORSCHE      NaN    NaN
2      SUBARU      NaN    NaN
3  VOLKSWAGEN      NaN    NaN
4      LANCIA      NaN    NaN

In [65]:
imu = pd.read_csv('DATA/imunizacija.csv')

In [59]:
imu.head()

,ESRI_OID,workplace_code,workplace_name,activity_evrk2,municipality,county,employees,immunised_percent,percentile_1,percentile_2,as_of_date
0,1,110004884,"Uždaroji akcinė bendrovė ""VILLON""",551000.0,Vilniaus r. sav.,Vilniaus apskr.,170,90-100%,92,94.0,2022-03-20
1,2,110005648,"UAB ""Informacinės paslaugos""",620100.0,Vilniaus m. sav.,Vilniaus apskr.,25,90-100%,69,71.0,2022-03-20
2,3,110011925,"UAB ""Eltel Networks""",422200.0,Vilniaus m. sav.,Vilniaus apskr.,230,90-100%,65,67.0,2022-03-20
3,4,110012112,UAB IDW,329900.0,Vilniaus m. sav.,Vilniaus apskr.,175,90-100%,45,47.0,2022-03-20
4,5,110012450,"AB ""Grigeo""",172200.0,Vilniaus m. sav.,Vilniaus apskr.,270,90-100%,89,91.0,2022-03-20

In [63]:
imu.dropna(subset=['activity_evrk2','workplace_name'], how='all').tail(5)

,ESRI_OID,workplace_code,workplace_name,activity_evrk2,municipality,county,employees,immunised_percent,percentile_1,percentile_2,as_of_date
19819,19820,305972116,NaN,161000.0,Kauno r. sav.,Kauno apskr.,80,90-100%,58,60.0,2022-03-20
19820,19821,305973296,NaN,464200.0,Klaipėdos r. sav.,Klaipėdos apskr.,10,90-100%,100,100.0,2022-03-20
19821,19822,305981108,NaN,475200.0,Vilniaus r. sav.,Vilniaus apskr.,10,80-89%,32,33.0,2022-03-20
19822,19823,305987794,NaN,711220.0,Klaipėdos m. sav.,Klaipėdos apskr.,15,90-100%,100,100.0,2022-03-20
19823,19824,305997621,NaN,422200.0,Kauno m. sav.,Kauno apskr.,15,70-79%,23,24.0,2022-03-20

In [66]:
imu.fillna(-1)

,ESRI_OID,workplace_code,workplace_name,activity_evrk2,municipality,county,employees,immunised_percent,percentile_1,percentile_2,as_of_date
0,1,110004884,"Uždaroji akcinė bendrovė ""VILLON""",551000.0,Vilniaus r. sav.,Vilniaus apskr.,170,90-100%,92,94.0,2022-03-20
1,2,110005648,"UAB ""Informacinės paslaugos""",620100.0,Vilniaus m. sav.,Vilniaus apskr.,25,90-100%,69,71.0,2022-03-20
2,3,110011925,"UAB ""Eltel Networks""",422200.0,Vilniaus m. sav.,Vilniaus apskr.,230,90-100%,65,67.0,2022-03-20
3,4,110012112,UAB IDW,329900.0,Vilniaus m. sav.,Vilniaus apskr.,175,90-100%,45,47.0,2022-03-20
4,5,110012450,"AB ""Grigeo""",172200.0,Vilniaus m. sav.,Vilniaus apskr.,270,90-100%,89,91.0,2022-03-20
...,...,...,...,...,...,...,...,...,...,...,...
19823,19824,305997621,-1,422200.0,Kauno m. sav.,Kauno apskr.,15,70-79%,23,24.0,2022-03-20
19824,19825,306019829,-1,-1.0,Klaipėdos m. sav.,Klaipėdos apskr.,10,90-100%,49,-1.0,2022-03-20
19825,19826,306025216,-1,-1.0,Vilniaus m. sav.,Vilniaus apskr.,175,80-89%,32,-1.0,2022-03-20
19826,19827,306027128,-1,-1.0,Vilniaus m. sav.,Vilniaus apskr.,10,90-100%,44,-1.0,2022-03-20
19827,19828,306027224,-1,-1.0,Vilniaus m. sav.,Vilniaus apskr.,10,90-100%,100,-1.0,2022-03-20

In [69]:
imu['workplace_name']=imu['workplace_name'].fillna('Nenurodyta')
imu.tail(10)

,ESRI_OID,workplace_code,workplace_name,activity_evrk2,municipality,county,employees,immunised_percent,percentile_1,percentile_2,as_of_date
19818,19819,305971701,Nenurodyta,412000.0,Radviliškio r. sav.,Šiaulių apskr.,15,60-69%,19,20.0,2022-03-20
19819,19820,305972116,Nenurodyta,161000.0,Kauno r. sav.,Kauno apskr.,80,90-100%,58,60.0,2022-03-20
19820,19821,305973296,Nenurodyta,464200.0,Klaipėdos r. sav.,Klaipėdos apskr.,10,90-100%,100,100.0,2022-03-20
19821,19822,305981108,Nenurodyta,475200.0,Vilniaus r. sav.,Vilniaus apskr.,10,80-89%,32,33.0,2022-03-20
19822,19823,305987794,Nenurodyta,711220.0,Klaipėdos m. sav.,Klaipėdos apskr.,15,90-100%,100,100.0,2022-03-20
19823,19824,305997621,Nenurodyta,422200.0,Kauno m. sav.,Kauno apskr.,15,70-79%,23,24.0,2022-03-20
19824,19825,306019829,Nenurodyta,NaN,Klaipėdos m. sav.,Klaipėdos apskr.,10,90-100%,49,NaN,2022-03-20
19825,19826,306025216,Nenurodyta,NaN,Vilniaus m. sav.,Vilniaus apskr.,175,80-89%,32,NaN,2022-03-20
19826,19827,306027128,Nenurodyta,NaN,Vilniaus m. sav.,Vilniaus apskr.,10,90-100%,44,NaN,2022-03-20
19827,19828,306027224,Nenurodyta,NaN,Vilniaus m. sav.,Vilniaus apskr.,10,90-100%,100,NaN,2022-03-20

In [70]:
imu.loc[1]

ESRI_OID                                        2
workplace_code                          110005648
workplace_name       UAB "Informacinės paslaugos"
activity_evrk2                           620100.0
municipality                     Vilniaus m. sav.
county                            Vilniaus apskr.
employees                                      25
immunised_percent                         90-100%
percentile_1                                   69
percentile_2                                 71.0
as_of_date                             2022-03-20
Name: 1, dtype: object

In [73]:
imu.loc[[1,2,3,4],['workplace_code','workplace_name']]

   workplace_code                workplace_name
1       110005648  UAB "Informacinės paslaugos"
2       110011925          UAB "Eltel Networks"
3       110012112                       UAB IDW
4       110012450                   AB "Grigeo"

In [74]:
imu.loc[1,'workplace_name']

'UAB "Informacinės paslaugos"'

In [75]:
imu.head(5)

,ESRI_OID,workplace_code,workplace_name,activity_evrk2,municipality,county,employees,immunised_percent,percentile_1,percentile_2,as_of_date
0,1,110004884,"Uždaroji akcinė bendrovė ""VILLON""",551000.0,Vilniaus r. sav.,Vilniaus apskr.,170,90-100%,92,94.0,2022-03-20
1,2,110005648,"UAB ""Informacinės paslaugos""",620100.0,Vilniaus m. sav.,Vilniaus apskr.,25,90-100%,69,71.0,2022-03-20
2,3,110011925,"UAB ""Eltel Networks""",422200.0,Vilniaus m. sav.,Vilniaus apskr.,230,90-100%,65,67.0,2022-03-20
3,4,110012112,UAB IDW,329900.0,Vilniaus m. sav.,Vilniaus apskr.,175,90-100%,45,47.0,2022-03-20
4,5,110012450,"AB ""Grigeo""",172200.0,Vilniaus m. sav.,Vilniaus apskr.,270,90-100%,89,91.0,2022-03-20

In [76]:
imu.loc[1,'workplace_name'] = "UAB Trys blynai"
imu.head()

,ESRI_OID,workplace_code,workplace_name,activity_evrk2,municipality,county,employees,immunised_percent,percentile_1,percentile_2,as_of_date
0,1,110004884,"Uždaroji akcinė bendrovė ""VILLON""",551000.0,Vilniaus r. sav.,Vilniaus apskr.,170,90-100%,92,94.0,2022-03-20
1,2,110005648,UAB Trys blynai,620100.0,Vilniaus m. sav.,Vilniaus apskr.,25,90-100%,69,71.0,2022-03-20
2,3,110011925,"UAB ""Eltel Networks""",422200.0,Vilniaus m. sav.,Vilniaus apskr.,230,90-100%,65,67.0,2022-03-20
3,4,110012112,UAB IDW,329900.0,Vilniaus m. sav.,Vilniaus apskr.,175,90-100%,45,47.0,2022-03-20
4,5,110012450,"AB ""Grigeo""",172200.0,Vilniaus m. sav.,Vilniaus apskr.,270,90-100%,89,91.0,2022-03-20

In [77]:
imu.loc[[1,2,3,4],['workplace_code','workplace_name']] = "Sugadinau duomenis katis"
imu.head()

,ESRI_OID,workplace_code,workplace_name,activity_evrk2,municipality,county,employees,immunised_percent,percentile_1,percentile_2,as_of_date
0,1,110004884,"Uždaroji akcinė bendrovė ""VILLON""",551000.0,Vilniaus r. sav.,Vilniaus apskr.,170,90-100%,92,94.0,2022-03-20
1,2,Sugadinau duomenis katis,Sugadinau duomenis katis,620100.0,Vilniaus m. sav.,Vilniaus apskr.,25,90-100%,69,71.0,2022-03-20
2,3,Sugadinau duomenis katis,Sugadinau duomenis katis,422200.0,Vilniaus m. sav.,Vilniaus apskr.,230,90-100%,65,67.0,2022-03-20
3,4,Sugadinau duomenis katis,Sugadinau duomenis katis,329900.0,Vilniaus m. sav.,Vilniaus apskr.,175,90-100%,45,47.0,2022-03-20
4,5,Sugadinau duomenis katis,Sugadinau duomenis katis,172200.0,Vilniaus m. sav.,Vilniaus apskr.,270,90-100%,89,91.0,2022-03-20

In [78]:
imu.iloc[[1,2],[1,2,3,4]]

,workplace_code,workplace_name,activity_evrk2,municipality
1,Sugadinau duomenis katis,Sugadinau duomenis katis,620100.0,Vilniaus m. sav.
2,Sugadinau duomenis katis,Sugadinau duomenis katis,422200.0,Vilniaus m. sav.

In [79]:
imu.iloc[[*range(10,21,2)]]

,ESRI_OID,workplace_code,workplace_name,activity_evrk2,municipality,county,employees,immunised_percent,percentile_1,percentile_2,as_of_date
10,11,110032524,"Uždaroji akcinė bendrovė ""SEIFUVA""",259900.0,Utenos r. sav.,Utenos apskr.,110,90-100%,100,100.0,2022-03-20
12,13,110051115,Bendra Lietuvos-Rusijos-Olandijos įmonė uždaro...,581100.0,Vilniaus m. sav.,Vilniaus apskr.,10,90-100%,100,100.0,2022-03-20
14,15,110051834,"Akcinė bendrovė ""Lietuvos draudimas""",651200.0,Vilniaus m. sav.,Vilniaus apskr.,965,90-100%,78,81.0,2022-03-20
16,17,110053842,"Akcinė bendrovė ""Lietuvos geležinkeliai""",492000.0,Vilniaus m. sav.,Vilniaus apskr.,1125,90-100%,58,60.0,2022-03-20
18,19,110057335,Viešoji įstaiga Lietuvos žemės ūkio konsultavi...,749000.0,Kėdainių r. sav.,Kauno apskr.,405,90-100%,73,76.0,2022-03-20
20,21,110058241,Lietuvos pramonininkų konfederacija,941100.0,Vilniaus m. sav.,Vilniaus apskr.,15,90-100%,57,58.0,2022-03-20

In [80]:
df = imu.iloc[[*range(10,21,2)]]

In [81]:
df.drop(columns=['municipality'], inplace=True)
df.head()

,ESRI_OID,workplace_code,workplace_name,activity_evrk2,county,employees,immunised_percent,percentile_1,percentile_2,as_of_date
10,11,110032524,"Uždaroji akcinė bendrovė ""SEIFUVA""",259900.0,Utenos apskr.,110,90-100%,100,100.0,2022-03-20
12,13,110051115,Bendra Lietuvos-Rusijos-Olandijos įmonė uždaro...,581100.0,Vilniaus apskr.,10,90-100%,100,100.0,2022-03-20
14,15,110051834,"Akcinė bendrovė ""Lietuvos draudimas""",651200.0,Vilniaus apskr.,965,90-100%,78,81.0,2022-03-20
16,17,110053842,"Akcinė bendrovė ""Lietuvos geležinkeliai""",492000.0,Vilniaus apskr.,1125,90-100%,58,60.0,2022-03-20
18,19,110057335,Viešoji įstaiga Lietuvos žemės ūkio konsultavi...,749000.0,Kauno apskr.,405,90-100%,73,76.0,2022-03-20

In [83]:
df.drop(10,axis=0)

,ESRI_OID,workplace_code,workplace_name,activity_evrk2,county,employees,immunised_percent,percentile_1,percentile_2,as_of_date
12,13,110051115,Bendra Lietuvos-Rusijos-Olandijos įmonė uždaro...,581100.0,Vilniaus apskr.,10,90-100%,100,100.0,2022-03-20
14,15,110051834,"Akcinė bendrovė ""Lietuvos draudimas""",651200.0,Vilniaus apskr.,965,90-100%,78,81.0,2022-03-20
16,17,110053842,"Akcinė bendrovė ""Lietuvos geležinkeliai""",492000.0,Vilniaus apskr.,1125,90-100%,58,60.0,2022-03-20
18,19,110057335,Viešoji įstaiga Lietuvos žemės ūkio konsultavi...,749000.0,Kauno apskr.,405,90-100%,73,76.0,2022-03-20
20,21,110058241,Lietuvos pramonininkų konfederacija,941100.0,Vilniaus apskr.,15,90-100%,57,58.0,2022-03-20

In [84]:
df.drop('county', axis=1)

,ESRI_OID,workplace_code,workplace_name,activity_evrk2,employees,immunised_percent,percentile_1,percentile_2,as_of_date
10,11,110032524,"Uždaroji akcinė bendrovė ""SEIFUVA""",259900.0,110,90-100%,100,100.0,2022-03-20
12,13,110051115,Bendra Lietuvos-Rusijos-Olandijos įmonė uždaro...,581100.0,10,90-100%,100,100.0,2022-03-20
14,15,110051834,"Akcinė bendrovė ""Lietuvos draudimas""",651200.0,965,90-100%,78,81.0,2022-03-20
16,17,110053842,"Akcinė bendrovė ""Lietuvos geležinkeliai""",492000.0,1125,90-100%,58,60.0,2022-03-20
18,19,110057335,Viešoji įstaiga Lietuvos žemės ūkio konsultavi...,749000.0,405,90-100%,73,76.0,2022-03-20
20,21,110058241,Lietuvos pramonininkų konfederacija,941100.0,15,90-100%,57,58.0,2022-03-20

In [99]:
# C:/Users/manta/OneDrive/Dokumentai/Python projektai/DataScienceNotebooks/Studentai/MantasD/DATA/OOP_DATA/REF_D_1k_FW_2.08.dat

fname = input('Iveskite failo lokaciją')

def getinfo(fname, sep = ';'):
    f = open(fname, mode='r', encoding='utf-8')
    lines = f.readlines()
    f.close()
    for line in lines[1:]:
        r = line.split(sep)
        l = []
        for ls in range(len(r)):
            f = f'{str(r[ls]):^16.16}'
            l.append(f)
        t = f'| '.join(l)
        print(t)
getinfo(fname=fname)

      1.2       |     0.001286    |    21.4341333   |     25.72096

   1.1766667    |    0.0008088    |    13.4806917   |    15.8622805

   1.1533333    |     0.000465    |     7.75065     |     8.939083

     1.13       |    0.0001868    |    3.1128067    |    3.5174715

   1.1066667    |     8.2e-06     |    0.1359291    |    0.1504282

   1.0833333    |    -0.0002158   |    -3.5965017   |    -3.8962101

     1.06       |    -0.0003824   |    -6.3736717   |    -6.756092

   1.0366667    |    -0.0005122   |    -8.5366533   |    -8.849664

   1.0133333    |    -0.0006203   |   -10.3387133   |   -10.4765628

     0.99       |    -0.0007191   |   -11.9852217   |   -11.8653694

   0.9666667    |    -0.000799    |   -13.3170433   |   -12.8731419

   0.9433333    |    -0.0008669   |   -14.4486567   |   -13.6298995

     0.92       |    -0.0009263   |    -15.43871    |   -14.2036132

   0.8966667    |    -0.0009733   |   -16.2213267   |   -14.5451229

   0.8733333    |    -0.0010176   |    -16.96035    |    -14.812039

     0.85       |    -0.0010548   |   -17.5803667   |   -14.9433117

   0.8266667    |    -0.0010879   |    -18.13195    |   -14.9890787

   0.8033333    |    -0.0011145   |   -18.5751167   |   -14.9220104

     0.78       |    -0.001142    |   -19.0341667   |    -14.84665

   0.7566667    |    -0.0011709   |   -19.5146833   |   -14.7661104

   0.7333333    |    -0.0011919   |   -19.8658333   |   -14.5682778

     0.71       |    -0.001216    |     -20.2666    |    -14.389286

   0.6866667    |    -0.0012316   |   -20.5271833   |   -14.0953326

   0.6633333    |    -0.0012514   |     -20.8559    |   -13.8344137

     0.64       |    -0.0012675   |   -21.1256333   |   -13.5204053

   0.6166667    |    -0.0012843   |    -21.40485    |   -13.1996575

   0.5933333    |    -0.001304    |    -21.73355    |   -12.8952397

     0.57       |    -0.0013158   |   -21.9296667   |    -12.49991

   0.5466667    |    -0.0013278   |   -22.1294333   |   -12.0974236

   0.5233333    |    -0.0013462   |     -22.4362    |   -11.7416113

      0.5       |    -0.0013588   |   -22.6469667   |   -11.3234833

   0.4766667    |    -0.0013718   |   -22.8627833   |   -10.8979267

   0.4533333    |    -0.0013855   |   -23.0917667   |   -10.4682676

     0.43       |    -0.0013933   |   -23.2219667   |    -9.9854457

   0.4066667    |    -0.0014094   |     -23.4904    |    -9.5527627

   0.3833333    |    -0.0014162   |   -23.6028833   |    -9.0477719

     0.36       |    -0.0014347   |   -23.9123833   |    -8.608458

   0.3366667    |    -0.0014407   |   -24.0114833   |    -8.0838661

   0.3133333    |    -0.0014526   |     -24.2095    |    -7.5856433

     0.29       |    -0.0014628   |     -24.3798    |    -7.070142

   0.2666667    |    -0.0014668   |   -24.4466833   |    -6.5191156

   0.2433333    |    -0.0014795   |   -24.6587833   |    -6.0003039

     0.22       |    -0.001484    |   -24.7338167   |    -5.4414397

   0.1966667    |    -0.0014929   |   -24.8814167   |    -4.8933453

   0.1733333    |    -0.001504    |   -25.0664833   |    -4.3448571

     0.15       |    -0.0015148   |    -25.24655    |    -3.7869825

   0.1266667    |    -0.001516    |   -25.2664667   |    -3.2004191

   0.1033333    |    -0.0015249   |   -25.4148667   |    -2.6262029

     0.08       |    -0.0015318   |   -25.5307333   |    -2.0424587

   0.0566667    |    -0.0015425   |   -25.7082667   |    -1.4568018

   0.0333333    |    -0.0015476   |   -25.7937833   |    -0.8597928

     0.01       |    -0.0015545   |   -25.9075833   |    -0.2590758

  -0.0133333    |    -0.0015629   |   -26.0481167   |    0.3473082

  -0.0366667    |    -0.0015708   |   -26.1804667   |    0.9599504

     -0.06      |    -0.0015665   |   -26.1080667   |     1.566484

  -0.0833333    |    -0.0015725   |   -26.2090167   |    2.1840847

  -0.1066667    |    -0.0015876   |   -26.4602833   |    2.8224302

     -0.13      |    -0.0015914   |   -26.5234667   |    3.4480507

  -0.1533333    |    -0.0015983   |   -26.6379167   |    4.0844806

  -0.1766667    |    -0.0016019   |   -26.6986333   |    4.7167586

     -0.2       |    -0.0016058   |   -26.7636667   |     5.3527333